body {
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-self: center;
    font: italic small-caps bold 16px/2;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: gray;
    margin: 64px;
    border: solid;
    border-radius: 32px;
    padding: 32px;
    gap: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.output-container {
    display:flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    text-align: right;
    background-color: slategray;
    font-size: 64px;
    border-radius: 16px;
    border: solid;
    padding:8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.equation-container {
    height: 48px;
    font-size: 48px;
    flex: auto;
}

.result-container {
    flex: auto;
    height: 64px;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 8px;
}

.keypad-container {
    display: flex;
    height: 500px;
    width: 400px;
    gap: 8px;
}

.keypad-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: darkgray;
    border: solid;
    border-radius: 16px;
    font-size: 48px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.key:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

.key-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid;
    border-color: gray;
    border-radius: 16px;
    font-size: 64px;
}

.key-c {
    background-color: lightcoral;
}

.key-eq {
    background-color: rgb(135, 187, 151);
}

.key-bk {
    background-color: palevioletred;
}

.key-operator {
    background-color: lavender;
}
